<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>文件服务器</title>
    <link
      href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css"
      rel="stylesheet"
    />
    <!-- icon -->
    <link
      rel="stylesheet"
      href="https://at.alicdn.com/t/font_1429011_s6299sj4zv.css"
    />
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
  </head>
  <body>
    <div id="app">
      <el-row style="margin:10px">
        <el-input
          v-model="keyword"
          placeholder="请输入要搜索的文件名称"
          clearable
          @keyup.enter.native="searchFile"
        ></el-input>

        <div style="margin:10px">
          <el-button size="small" type="success" @click="backToHome"
            >首页</el-button
          >
          <el-button size="small" type="success" @click="backDirHandle"
            >返回上一级</el-button
          >
          <el-button size="small" type="success" @click="mkDir"
            >创建文件夹</el-button
          >
        </div>
      </el-row>

      <el-row style="margin:10px">
        <el-col :span="17">
          <el-table :data="tableData" style="width: 100%">
            <el-table-column prop="name" label="名称" width="180">
              <template slot-scope="scope">
                <p @click="getData(scope.row)" style="cursor: pointer;">
                  <i v-if="scope.row.isDir" class="iconfont icon-folder"></i>
                  <i v-if="!scope.row.isDir" class="iconfont icon-file"></i>
                  {{ scope.row.name }}
                </p>
              </template>
            </el-table-column>
            <el-table-column prop="updateTime" label="修改时间" width="180">
            </el-table-column>
            <el-table-column prop="size" label="大小" width="100">
            </el-table-column>
            <el-table-column label="操作">
              <template slot-scope="scope">
                <el-button
                  size="mini"
                  type="danger"
                  @click="handleDelete(scope.$index, scope.row)"
                  >删除</el-button
                >
                <el-button
                  size="mini"
                  @click="handleRename(scope.$index, scope.row)"
                  >重命名</el-button
                >
                <el-button
                  size="mini"
                  @click="handleMove(scope.$index, scope.row)"
                  >移动</el-button
                >
                <el-button
                  v-if="scope.row.name.indexOf('.zip')!=-1"
                  size="mini"
                  @click="handleUnzip(scope.$index, scope.row)"
                  >解压</el-button
                >
                <el-button
                  v-if="scope.row.name.indexOf('.zip')==-1"
                  size="mini"
                  @click="handleZip(scope.$index, scope.row)"
                  >压缩</el-button
                >
              </template>
            </el-table-column>
          </el-table>
        </el-col>

        <el-col :span="6" style="margin:30px">
          <el-upload
            class="upload-demo"
            drag
            ref="upload"
            multiple
            action="/upload"
            :data="fileExtraData"
            :auto-upload="false"
            :limit="100"
            :file-list="fileArr"
            :on-change="onChange"
            :before-upload="beforeAvatarUpload"
            :on-success="uploadSuccess"
          >
            <i class="el-icon-upload"></i>
            <div class="el-upload__text">将文件拖到此处 或 点击上传</div>
            <div class="el-upload__tip" slot="tip">
              最多一次性上传100个文件,文件大小不能超过10G
            </div>
            <div class="el-upload__tip" slot="tip">
              <el-button size="small" type="success" @click="clearFiles"
                >清空文件列表</el-button
              >
              <el-button size="small" type="success" @click="submitUpload"
                >上传到服务器</el-button
              >
            </div>
          </el-upload>
        </el-col>
      </el-row>

      <!-- 文件夹选择弹窗 -->
      <el-dialog title="选择文件夹" :visible.sync="dialogVisible" width="40%">
        <div>
          <el-cascader
            style="display:block"
            size="small"
            ref="dirTreeObj"
            v-model="value"
            :options="options"
            :clearable="true"
            filterable
            :props="{ expandTrigger: 'hover', checkStrictly: true  }"
          ></el-cascader>
        </div>

        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="moveSureClick">确 定</el-button>
        </span>
      </el-dialog>
    </div>
  </body>
</html>

<script>
  //发送get请求
  function ajaxGetUtil(url, handleFunction) {
    var httpRequest = new XMLHttpRequest(); //第一步：建立所需的对象
    httpRequest.open("GET", url, true); //第二步：打开连接  将请求参数写在url中  ps:"./Ptest.php?name=test&nameone=testone"
    httpRequest.send(); //第三步：发送请求  将请求参数写在URL中

    httpRequest.onreadystatechange = function() {
      if (httpRequest.readyState == 4 && httpRequest.status == 200) {
        var data = JSON.parse(httpRequest.responseText);
        if (data.code == 0) {
          alert(data.data);
          //自动刷新页面
          location.reload();
          return;
        }
        handleFunction(data); //获取到json字符串，还需解析
      }
    };
  }

  //发送get请求
  function ajaxPostUtil(url, dataObj, handleFunction) {
    var httpRequest = new XMLHttpRequest(); //第一步：创建需要的对象
    httpRequest.open("post", url); //第二步：打开连接/***发送json格式文件必须设置请求头 ；如下 - */
    httpRequest.setRequestHeader("Content-type", "application/json"); //设置请求头 注：post方式必须设置请求头（在建立连接后设置请求头）var obj = { name: 'zhansgan', age: 18 };
    httpRequest.send(JSON.stringify(dataObj)); //发送请求 将json写入send中

    httpRequest.onreadystatechange = function() {
      //请求后的回调接口，可将请求成功后要执行的程序写在其中
      if (httpRequest.readyState == 4 && httpRequest.status == 200) {
        //验证请求是否发送成功
        var data = JSON.parse(httpRequest.responseText);
        if (data.code == 0) {
          alert(data.data);
          //自动刷新页面
          location.reload();
          return;
        }
        handleFunction(data); //获取到json字符串，还需解析
      }
    };
  }

  //登入
  function login(handleFunction) {
    var password = prompt("输入登入密码");
    if (password == null || password === undefined) {
      return;
    }
    ajaxPostUtil("/login", { password: password }, function(data) {
      handleFunction(data);
    });
  }

  new Vue({
    el: "#app",
    data: function() {
      return {
        keyword: "", //搜索关键字
        fileArr: [], //待上传文件的list列表
        value: [], //文件夹选择值
        options: [], //文件夹的选择数据
        dialogVisible: false, //文件夹选择弹窗
        tableData: [],
        fileExtraData: {}, //文件上传额外的数据
        uploadTimes: 0, //记录上传成功的个数
        currentDir: "/", //记录当前访问的目录
        currentMoveNode: "" //记录当前正在移动的节点
      };
    },
    created() {
      var _this = this;
      //先尝试自动登入
      ajaxPostUtil("/autoLogin", { password: "" }, function(data) {
        if (data.code == 1) {
          _this.getDirData(); //获取数据并刷新
        } else {
          //登入
          login(function(data) {
            _this.getDirData(); //获取数据并刷新
          });
        }
      });
    },
    methods: {
      //搜索文件
      searchFile() {
        var _this = this;
        ajaxGetUtil("/searchFile?fileName=" + this.keyword, function(response) {
          if (response.code == 1) {
            _this.tableData = response.data;
            _this.keyword = "";
          }
        });
      },
      test() {
        ajaxGetUtil("/test", function(response) {
          console.log(response);
        });
        console.log("test======");
      },
      //在文件选择时会被触发
      onChange(file, fileList) {
        // console.log(fileList.length)
      },
      //移动文件夹的确定按钮点击事件
      moveSureClick() {
        var _this = this;
        var node = this.$refs.dirTreeObj.getCheckedNodes()[0];

        ajaxGetUtil(
          "/move?srcPath=" +
            this.currentMoveNode.relativePath +
            "&targetPath=" +
            node.value,
          function(response) {
            if (response.code == 1) {
              _this.$message("文件移动成功");
              _this.refreshDirData();
            } else {
              _this.$message("文件移动失败");
            }
          }
        );

        this.dialogVisible = false;
      },
      //上传成功后提示信息,并清空文件列表
      uploadSuccess(response, file, fileList) {
        if(response.status==200){
          this.uploadTimes++;
          if (fileList.length == this.uploadTimes) {
            this.$message("文件全部上传成功");
            this.$refs.upload.clearFiles();
            this.refreshDirData();
          }
        }else{
          this.$message("文件上传失败");
        }
      },
      //上传之前限制文件大小
      beforeAvatarUpload(file) {
        const isLt10GB = file.size / 1024 / 1024 / 1024 < 10; //文件大小不能超过10GB
        if (!isLt10GB) {
          this.$message.error("上传头像图片大小不能超过 10GB!");
          return false;
        }

        this.uploadTimes = 0; //清空上传成功的统计个数
        return isLt10GB;
      },
      //点击上传文件
      submitUpload() {
        this.fileExtraData.dirName = this.currentDir;
        this.$refs.upload.submit();
      },
      //清除文件列表
      clearFiles() {
        this.$refs.upload.clearFiles();
      },
      //根据当前目录计算上一级目录
      computerBackDir(currentDir) {
        if (currentDir == "\\") {
          return "\\";
        }
        var i = undefined;
        for (i = currentDir.length - 1; i >= 0; i--) {
          if (currentDir[i] == "\\") {
            break;
          }
        }
        return currentDir.substring(0, i);
      },
      //回到首页
      backToHome() {
        var path = this.computerBackDir("/");
        this.getDirData(path);
        this.currentDir = path;
      },
      // 返回上一级目录(根据当前的目录推算出上一级目录)
      backDirHandle() {
        var path = this.computerBackDir(this.currentDir);
        this.getDirData(path);
        this.currentDir = path;
      },
      //重命名文件
      handleRename(index, row) {
        var _this = this;
        this.$prompt("请输入文件夹名称", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          inputValue: row.name
        })
          .then(({ value }) => {
            if (value.trim() == "") {
              this.$message({
                type: "error",
                message: "内容不能为空"
              });
              return;
            }
            ajaxGetUtil(
              "/rename?relativePath=" + row.relativePath + "&fileName=" + value,
              function(response) {
                if (response.code == 1) {
                  _this.$message("文件重命名成功");
                  _this.refreshDirData();
                } else {
                  _this.$message("文件重命名失败");
                }
              }
            );
          })
          .catch(() => {});
      },
      //移动文件
      handleMove(index, row) {
        var _this = this;
        this.dialogVisible = true;
        this.currentMoveNode = row;
        ajaxGetUtil("/getDirTree", function(response) {
          if (response.code == 1) {
            _this.options = [response.data];
          }
        });
      },
      //解压
      handleUnzip(index, row) {
        var _this = this;
        ajaxGetUtil(
          "/unzip?dirName=" + this.currentDir + "&fileName=" + row.name,
          function(response) {
            if (response.code == 1) {
              _this.$message("文件解压成功");
              _this.refreshDirData();
            } else {
              _this.$message("文件解压失败");
            }
          }
        );
      },
      //压缩
      handleZip(index, row) {
        var _this = this;
        ajaxGetUtil(
          "/zip?dirName=" + this.currentDir + "&fileName=" + row.name,
          function(response) {
            if (response.code == 1) {
              _this.$message("文件压缩成功");
              _this.refreshDirData();
            } else {
              _this.$message("文件压缩失败");
            }
          }
        );
      },
      //删除文件
      handleDelete(index, row) {
        var _this = this;
        this.$confirm("是否删除该文件?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning"
        })
          .then(() => {
            ajaxGetUtil(
              "deleteFile?filePath=" + this.currentDir + "/" + row.name,
              function(response) {
                if (response.code == 1) {
                  _this.$message("文件删除成功");
                  _this.refreshDirData();
                } else {
                  _this.$message("文件删除失败");
                }
              }
            );
          })
          .catch(() => {});
      },
      //创建文件夹
      mkDir() {
        var _this = this;
        this.$prompt("请输入文件夹名称", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消"
        })
          .then(({ value }) => {
            if (value.trim() == "") {
              this.$message({
                type: "error",
                message: "内容不能为空"
              });
              return;
            }
            ajaxGetUtil(
              "/mkdir?dirName=" + this.currentDir + "/" + value,
              function(response) {
                if (response.code == 1) {
                  _this.$message("文件夹创建成功");
                  _this.refreshDirData();
                } else {
                  _this.$message("文件夹创建失败");
                }
              }
            );
          })
          .catch(() => {});
      },
      //获取目录数据
      getDirData(dirName) {
        //如果不传目录名默认是家目录
        if (dirName == undefined || dirName == "" || dirName == "/") {
          dirName = "/";
        }
        this.currentDir = dirName; //保存当前目录地址

        var _this = this;
        ajaxGetUtil("/getDirData?dirName=" + dirName, function(response) {
          var buff = [];
          //将文件夹和文件排序
          response.dirData.map(item => {
            if (item.isDir) {
              buff.push(item);
            }
          });
          response.dirData.map(item => {
            if (!item.isDir) {
              buff.push(item);
            }
          });

          _this.tableData = buff;
        });
      },
      getData(row) {
        //获取文件夹
        if (row.isDir) {
          this.getDirData(row.relativePath);
        } else {
          //获取文件(方法待改进)
          location.href =
            "/getFile?relativePath=" +
            row.relativePath +
            "&fileName=" +
            row.name;
        }
      },
      refreshDirData() {
        this.getDirData(this.currentDir);
      }
    }
  });
</script>
